@import "../../../node_modules/foundation-sites/scss/foundation";

body
{
  background-color: #00496e;
  .list-header
  {
    padding-bottom: 1em;
    a
    {
      color: $light-gray;
    }
  }
  .list-main
  {
    background-color: $light-gray;
  }
  .list-content
  {
    display: flex;
    flex: 1 auto;
    background-color: $dark-gray;
  }
}
